asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
certifi==2020.4.5.2
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
py4j==0.10.7
pycrypto==2.6.1
pygobject==3.26.1
pymongo==3.10.1
pyxdg==0.25
requests==2.23.0
SecretStorage==2.3.1
selenium==3.141.0
six==1.11.0
soupsieve==1.9.6
urllib3==1.25.9
